footer {
  max-width: 1000px;
  margin: 0 auto;

  font-size: $font-small;
  color: $footer-color;
  //Color específico del separador entre el body y el footer
  border-top: 1px solid #e6e6e6;
}

.footer-title {
  font-size: $font-base;
  // margin-bottom: $spacing(medium);
}

.footer-title a {
  text-decoration: none;
  color: $footer-color;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
