.header {
  height: 70px;
  display: flex;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding-left: 60px;
  padding-right: 60px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: rem(20px);
}